@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "container.scss";
@import "modules/login-page.scss";
@import "modules/main-page.scss";
@import "modules/main-header.scss";
@import "modules/main-nav.scss";
@import "modules/new-post-input.scss";

*:focus {
  outline: 2px solid blue;
}

body {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
