.main-navigation {
  width: 100%;
  background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5));
  background-size: cover;
  color: black;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-navigation a {
  display: block;
  padding: 30px;
  color: black;
  text-decoration: none;

  font-family: "Arial";
  font-weight: 700;
  /*color: white;*/
  /*text-shadow: 0 0 5px black;*/
}

.main-navigation a:hover {
  background-color: rgba(193, 193, 193, 0.5);
}
