$sea-serpent: rgb(81, 200, 180);
$white-ice: rgb(219, 244, 240);
$pickled-bluewood: rgb(47, 70, 88);
$emerald: rgb(81, 200, 120);
$medium-aquamarine: rgb(85, 229, 168);
$riptide: rgb(125, 226, 215);
$mint: rgb(190, 248, 208);

$sapphire: rgb(8, 40, 104);
$blumine: rgb(24, 88, 136);
$blue-jeans: rgb(88, 184, 248);
$turquoise: rgb(56, 219, 232);

$gravel: rgb(71, 71, 71);
$pumice: rgb(196, 198, 199);
